#c_menu_banner_1 {
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;
}

#c_menu_banner_1 .content-language{
  align-items: center;
  display: flex;
  justify-content: end;
  padding-left: 0;
}

#c_menu_banner_1 .content-language a.active {
  background-color: #11293A;
  color: #fff;
}

#c_menu_banner_1 .content-logo {
  display: flex;
}

#c_menu_banner_1 .content-logo .nav-link-logo {
  align-self: center;
}

.content-menu {
  background-color: #F0F3EC;
  border-radius: 40px;
  justify-content: space-around;
}

.navbar {
  align-items: center;
}

.navbar .navbar-nav {
  gap: 3%;
  text-transform: uppercase;
}

