/* FONTES */
@font-face {
    font-family: 'Work Sans MD';
    src: url('./assets/theme/fonts/WorkSans-Medium.woff2') format('woff2'), url('./assets/theme/fonts/WorkSans-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Work Sans SM';
    src: url('./assets/theme/fonts/WorkSans-SemiBold.woff2') format('woff2'), url('./assets/theme/fonts/WorkSans-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Work Sans LT';
    src: url('./assets/theme/fonts/WorkSans-Light.woff2') format('woff2'), url('./assets/theme/fonts/WorkSans-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Work Sans Regular';
    src: url('./assets/theme/fonts/WorkSans-Regular.woff2') format('woff2'), url('./assets/theme/fonts/WorkSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Work Sans Bold';
    src: url('./assets/theme/fonts/WorkSans-Bold.woff2') format('woff2'), url('./assets/theme/fonts/WorkSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}


/*	====================
			BODY
	==================== */

body {
	font-family: 'Work Sans', sans-serif;
	background-color: #F0F3EC;
	overflow-x: hidden;
}

b, strong {
	font-weight: 1000;
}

.img-icon-gota{
	width: 20px;
	height: auto;
}

.c_subtitle_b {
	color: blue;
	font-size: 20px;
}

.c_subtitle_g {
	color: #85BD00;
	font-size: 20px;
}

.c_text {
	color: #fff;
	font-size: 14px;
}

.half-container {
  width: 100%;
  padding-right: 15px;
	padding-left: 15px;
	margin-left: auto;
	margin-right: auto;
}

@media (min-width: 576px) {
  .half-container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .half-container {
		max-width: 360px;
		margin-left: 0;
		margin-right: 0;
  }
}

@media (min-width: 992px) {
  .half-container {
    max-width: 480px;
  }
}

@media (min-width: 1200px) {
  .half-container {
    max-width: 570px;
  }

  .cookies {
  	padding: 20px 0;
  }
}
/* IMAGE */

.c_img_responsive {
	width: auto;
	max-width:100%;
	height:auto;
}

.c_img_100 {
	width: 100%;
}

.h3-link {
	font-size: 24px;
}

/*	====================
	    MENU PRINCIPAL
	==================== */

/* Background */

#c_menu_banner_1 {
	background-image: url('assets/images/home/background.png');
	height: 380px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	overflow: hidden;
}

/* #c_menu_banner_1 .navbar, #c_menu_banner_1 .jumbotron {
	background-color: transparent;
} */

/* #c_menu_banner_1 .navbar {
	padding-left: 0;
	padding-right: 0;
} */

#c_menu_banner_1 .navbar-expand-md .navbar-nav .nav-link {
	padding-left: 0;
	padding-right: 0;
	font-weight: 400;
}

/* Language */

.c_language a {
	font-size: .8rem;
	font-weight: 400;
	text-decoration: none;
	background: #D5D7D2;
	padding: 13px;
	border-radius: 100%;
}

.c_language a:link, .c_language a:visited  {
	color: #073C5C;
}

.c_language a:hover, .c_language a:active {
	color: #85BD00;
}

/* Bar */

.c_menu_bar {
	width: 100%;
}

/* Logo */

.c_menu_logo {
	max-width: 106px;
}

.c_menu_logo_mobile {
	max-width: 115px;
	height: auto;
	display: block;
	float: left;
}

/* Links */

#c_navbar ul li a:link, #c_navbar ul li a:visited {
	color: #073C5C;
	font-size: 0.8rem;
	text-decoration: none;
}

#c_navbar ul li a:hover, #c_navbar ul li a:active {
	color: #85BD00;
}

/* Text */

.c_container_text {
	margin-top: 52px;
}

#c_menu_banner_1_text {
	width: 100%;
	max-width: 915px;	
	margin-top: 0px;
}

#c_menu_banner_1_text h2 {
	color: #fff;
	font-size: 6rem;
	font-weight: 300;
}

#c_menu_banner_1_text h3 {
	margin-top: 40px;
	color: #fff;
	font-size: 20px;
	font-weight: 300;
	line-height: 1.5;
	max-width: 420px;
}

/*	====================
	      QUEM SOMOS
	==================== */

/* Background */

#c_quem_somos {
	/* min-height: 762px; */
	padding: 80px 0;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

/* Image */

/* #c_quem_somos img {
	margin-top: -60px;
	margin-left: 0;
} */

/* Text */
/* 
#c_quem_somos_text {
	margin: 90px 0px 0px 60px;
} */


/* Carousel */

.owl-carousel {
	position: relative;
	overflow: hidden;
	z-index: 1000;
}

.item {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	display: block;
	position: relative;
	margin-top: 40px;
	height: 0;
	width: 100%;
	padding-bottom: 100%;
}

.owl-dots {
	display: block;
	width: 100%;
	position: absolute;
	left: 0;
	bottom: 10px;
	text-align: center;
}

.owl-dot {
	display: inline-block;
	height: 19px;
	width: 19px;
	margin: 0 5px;
	border: 3px solid #006BA6 !important;
	border-radius: 50%;
}

.owl-dot.active{
	background-color: #006BA6 !important;
}

.owl-dot:focus {
	outline: none !important;
} 

/* Vídeo */

#c_video {
	position: relative;
	display: block;

}

#c_video .video-wrapper {
	width: 100%;
	height: 535px;
	position: relative;
	overflow: hidden;
	display: block;
	border-radius: 40px;
}

#c_video .video-wrapper .btn-video {
	position: absolute;
	width: 120px;
	background-color: transparent;
	height: 120px;
	cursor: pointer;
	top: 35%;
	left: 50%;
	border: 3px solid #f1f1f1;
	border-radius: 50%;
	transform: translate(-50%, -50%);
}

#c_video .video-wrapper .btn-video:focus {
	outline: none !important;
}

#c_video .video-wrapper .btn-video img {
	display: block;
	width: 100%;
	max-width: 60px;
	height: auto;
	margin-left: 25px;
	margin-right: auto;
}

#c_video .video-wrapper video {
	position: absolute;
	width: 100%;
	height: auto;
	top: 0;
	left: 0;
}

/* Mapa */


/* O que te Moove */

#c_moove_text {
	padding: 40px 40px 40px 40px;
}

#c_moove_text h2 {
	color: #85BD00;
	font-size: 35px;
	font-weight: 600;
}

#c_moove_text h3 {
	margin-top: 20px;
	color: #fff;
	font-size: 18px;
	margin-bottom: 40px;;
}




/*	====================
	      DIFERENCIAL
	==================== */

/* Container / Card */

#c_diferencial {
	border-bottom-right-radius: 40px;
	border-bottom-left-radius: 40px;
	z-index: 2;
	position: relative;
	background: #F0F3EC;
}

.c_diferencial_container {
	padding-top: 100px;
	padding-bottom: 100px;
	overflow: hidden;
}

.c_diferencial_card {
	height: 100%;
	display: flex;
	flex-direction: column;
}

.c_diferencial_card img {
	border-radius: 40px;
}

/* Text */

.c_diferencial_title {
	margin: 0px 0 50px 0;
}

.c_diferencial_title h2 {
	color: #073C5C;
	font-size: 5rem;
	font-weight: 300;
	display: flex;
	justify-content: space-between;
}

.c_diferencial_title h2::after {
	content: '';
	background-image: url(/assets/images/icon/gota-icon-verde.png);
	background-size: contain;
	background-repeat: no-repeat;
	width: 80px;
	height: 80px;
	rotate: 230deg;
}

.c_diferencial_card_text {
	color: #073C5C;
	display: flex;
	justify-content: space-between;
	position: relative;
	background-color: #BAD1C1;
	padding: 15px 40px;
	height: 100% !important;
	border-top-left-radius: 10px;
	border-top-right-radius: 35px;
	border-bottom-right-radius: 35px;
	border-bottom-left-radius: 35px;
	margin-top: 15px;
  margin-bottom: 40px;
}

.c_diferencial_card_text.card-1 h2 {
	width: 50%;
}

.c_diferencial_card_text.card-2 h2 {
	width: 50%;
}

.c_diferencial_card_text.card-3 h2{
	width: 50%;
}

.c_diferencial_card_text.card-4 h2 {
	width: 60%;
}

.c_diferencial_card_text h2 {
	font-weight: 300;
	margin-bottom: 12px;
	font-size: 2vw;
}

.c_diferencial_card_text h3 {
	width: 228px;
	font-size: .7vw;
	-webkit-hyphens: auto;
  -ms-hyphens: auto;
	hyphens: auto;	
	display: flex;
}

.c_diferencial_card_text h3::before {
	content: '';
	background-image: url(/assets/images/icon/gota-icon.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	height: 15px;
	width: 85px;
	margin-right: 20px;
}

/*	====================
	         MAPA
==================== */	
#c_mapa {
	position: relative;
	background-color: #093D5E;
	top: -37px;
	z-index: 1;
	padding-top: 38px !important;
}
#c_mapa .container {
	position: relative;	
	position: absolute;
	top: 100px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
	z-index: 3000;
}
#c_mapa h2 {
	color: #fff;
	font-size: 4.5vw;
	font-weight: 200;
	padding: 0;
	margin: 0;
	display: inline-block;
	width: auto;
	position: relative;
	
}
#c_mapa {
	margin: 0px;
	padding: 0;
}
#c_mapa image:hover {
    cursor: pointer;
}

#landmarks-countries path, #other path{
	fill: #11293A !important;
	stroke: #093D5E !important;
}


.popover-footer {
	background-color: #EFEFEF;
}
.popover-content {
	padding: 5px 20px 5px 20px;
	color: #000;
	font-size: 16px;
}
.popover-footer {
	padding: 5px 20px 5px 20px;
	text-align: left;
}
.popover-content b {
	color: #85BD00;
}

.popover a:link, .popover a:visited  {
	color: #006BA6;
}

.popover a:hover, .popover a:active {
	color: #85BD00;
}

/*	====================
	   O QUE TE MOOVE
	==================== */

#c_moove img {
	object-fit: cover;
	height: 100%;
}

.c_moove_background {
	background-color: #006BA6;
}

/* Text */

#c_moove_text {
	padding: 80px 0 80px 80px;
}

#c_moove_text h2 {
	color: #85BD00;
	font-size: 40px;
	font-weight: 600;
}

#c_moove_text h3 {
	margin-top: 40px;
	color: #fff;
	font-size: 20px;
	font-weight: 300;
	line-height: 1.5;
	
}

#c_moove_text .c_moove_vagas {
	color: #85BD00;
	font-size: 22px;
	font-weight: 600;
	margin-bottom: 40px;
	line-height: 1.5;
}

#c_moove_text .btn-success {
	color: #fff;
	background-color: #85BD00;
	font-size: 25px;
	font-weight: 600;
	padding-left: 24px;
	padding-right: 24px;
}

/*	====================
	     LINKS UTEIS
	==================== */

#c_links_uteis {	
	padding: 40px 0 60px;
}

#c_links_uteis h2 {
	color: #093D5E;
	font-size: 29px;
	font-weight: 400;
	margin-bottom: 40px;
}

ul.ul-links {
	padding: 0;
	font-size: 20px;
	list-style: none;
}

ul.ul-links li {
	line-height: 1;
	margin-bottom: 10px;
}

ul.ul-links li a {
	display: inline-block;
	color: #093D5E !important;
}

ul.ul-links li a:hover,
ul.ul-links li a:focus {
	outline: none;
	text-decoration: none;
}

.c_links_uteis_pt1 {
	padding-top: 80px;
	padding-top: 50px;
}

.c_links_uteis_pt2 {
	padding-top: 80px;
	padding-top: 50px;
	text-align: right;
}

.c_links_uteis_pt2 a {
	display: inline-block;
	font-size: 30px;
	color: #093D5E !important;
}

ul.ul-links li a:hover,
ul.ul-links li a:focus,
.c_links_uteis_pt2 a:hover,
.c_links_uteis_pt2 a:focus {
	outline: none;
	text-decoration: none;
}

.social-media {
	list-style: none;
	text-align: right;	
	padding-left: 0;
	margin-top: 83px;
}

.social-media li {
	display: inline-block;
	margin-left: 5px;
}

.social-media li img {
	height: 2.6vw;
  width: 100%;
}

/*	====================
	     COPYRIGHT
	==================== */

#c_copyright {
	background-color: #000000;
}

#c_copyright h4 {
	font-size: 15px;
	font-weight: normal;
	color: #8D8D8D;
	padding: 34px 0 30px 0;
	line-height: 1.3;
}

.c_copyright a:link, .c_copyright a:visited  {
	color: #fff;
}

.c_copyright a:hover, .c_copyright a:active {
	color: #85BD00;
}

/*	====================
	      ANIMATION
	==================== */

.my-element {
  display: inline-block;
  margin: 0 0.5rem;
  animation: bounce; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 2s;
}

/* Cookies */

.cookies-background {
	display: none;
	position: fixed;	
	z-index: 10000;
	height: auto;
	width: 100%;
	bottom: 0;
	left: 0;
}

.cookies-background .cookies {
	display: block;
	position: absolute;
	bottom: 0;
	background-color: #006AA7;
	left: 50%;
	transform: translateX(-50%);
	width: 100%;
	height: auto;
	padding: 35px 0;
	z-index: 100000;
}

.cookies-background .cookies p {
	margin-bottom: 0;
}

.cookies-background .cookies p a {
	position: relative;
	color: #84BD00;
	font-weight: bold;
}

.cookies-background .cookies p a:before{
	content: "";
	position: absolute;
	display: block;
	width: 100%;
	height: 1px;
	bottom: -2px;
	left: 0;
	border-bottom: 1px solid #fff;
}
.cookies-background .cookies p a:hover{
	text-decoration: none !important;
}

.cookies-background .cookies .button-wrapper {
	align-items: center;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: auto;
	float: right;
	margin-left: 40px;
	min-width: 320px;
	padding-top: 10px;
}

.cookies-background .cookies .button-wrapper .agree-button {
	border: solid 2px #fff;
	background-color: #fff;
	color: #006AA7;
	border-radius: 26px;
	cursor: pointer;
	display: inline-block;
	font-size: 16px;
	font-weight: 700;
	outline: 0;
	padding: 5px 20px;
	position: relative;
	text-align: center;
	min-width: 130px;

}

.cookies-background .cookies .button-wrapper .desagree-button {
	background-color: transparent;
	color: inherit;
	border: solid 2px #fff;
	color: #fff;
	border-radius: 26px;
	cursor: pointer;
	display: inline-block;
	font-size: 16px;
	font-weight: 700;
	outline: 0;
	padding: 5px 20px;
	position: relative;
	text-align: center;
	min-width: 130px;

}

/* modal video */
#modal-video {
	background-color: #000 !important;
}

.modal-content {
	background-color: transparent !important;
	border: none !important;
}

.modal-content .modal-header {
	border-bottom: none !important;
}

.modal-header .close {
	font-size: 45px;
	color: #fff;
	text-shadow: none !important;
	opacity: 1 !important;
	font-weight: 500 !important;
	transition: 1.2s ease-in-out;
}

.modal-header .close:focus {
	outline: none !important;
}

.modal-header .close:hover {
	color: red !important;
}

/*	====================
	     RESPONSIVE
	==================== */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
	.c_menu_logo_mobile {
		display: none;
	}
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
	.c_diferencial_card_text {
		height: 466px;
	}

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	/* Menu Principal */
	#c_menu_banner_1 {
		padding-top: 80px;
	}
	/* modal dialog */
	.modal-dialog {
		max-width: 998px;
	}
	
}

/* 1080 monitors */
@media (min-width: 1400px) {
	/* video */
	#c_video .video-wrapper {
		height: 600px;
	} 
	/* modal dialog */
	.modal-dialog {
		max-width: 1140px;
	}
}
@media (max-width: 767px) {

	/* Menu Principal */

	#c_navbar {
		padding: 10px;
		z-index: 3000;
	}

	.content-menu {
		justify-content: flex-start;
	}

	.c_container_text {
		top: 36%;
	}

	#c_menu_banner_1_text {
		background-color: transparent;
		padding-top: 7px;
		padding-bottom: 7px;
		padding-left: 15px;
		margin: 0px;
	}

	#c_menu_banner_1_text h2 {
		font-size: 38px;
		/* margin-bottom: -18px;
		font-family: 'Work Sans SM'; */
	}

	#c_menu_banner_1_text h3 {
		font-size: 17px;
		color: #fff;
	}

	
	.c_language {
		margin-top: 10px;
	}
	.c_diferencial_container {
		padding-left: 15px;
		padding-top: 0;
		padding-bottom: 0px;
	}
	.c_diferencial_card {
		padding: 0;
	}

	/* Quem Somos */

	#c_quem_somos_text {
		margin: 40px 15px 15px 15px;
	}

	#c_quem_somos_text h2 {
		font-weight: 700;
		font-family: 'Work Sans MD';
	}

	#c_video .video-wrapper {
		height: 201px;
	}

	#c_moove_text h2 {
		font-family: 'Work Sans MD';
	}


	/* Diferencial */

	.c_diferencial_card_container {
		padding: 0px;
		margin: 0px;
	}

	.c_diferencial_title {
		margin: 40px 15px 15px 15px;
		padding-right: 20px;
	}

	.c_diferencial_title h2 {
		font-size: 35px;
		font-weight: 700;
		font-family: 'Work Sans MD';
	}

	.c_diferencial_card_text {
		flex-direction: column;
	}

	.c_diferencial_card_text h2 {
		font-size: 20px;
		font-family: 'Work Sans Bold';
		width: 100% !important;
	}

	.c_diferencial_card_text h3 {
		font-size: 12px;
	}

	/* Seja um moover */

	#c_moove .box-content h2 {
		font-size: 90px;
		letter-spacing: -11px;
	}
	
	#c_moove .box-content .text-resume {
		top: 0px;
		font-size: 3vw;
	}
	
	/* Links Úteis */

	#c_links_uteis h3, #c_links_uteis ul {
		font-size: 20px;
	}

	.c_links_uteis_pt1 {
		padding-top: 10px;
		padding-bottom: 20px;
	}

	.c_links_uteis_pt2 {
		padding-top: 30px;
		padding-bottom: 20px;
	}

	.social-media li img{
		height: 10.6vw;
	}

	.c_social {
		margin: 0;
	}

	#c_mapa h2 {
		top: 50px;
		font-size: 35px;
	}

	#c_mapa h2:before {
		left: 15px;
	}
	#c_mapa h2:after {
		right: -16px;
	}

	#c_mapa .container {
		top: 40px;
	}

	.btn-video {
		max-width: 70px;
		max-height: 70px;
	}
	.btn-video img {
		max-width: 35px !important;
		margin-left: 10px !important;
	}

	.content-language {
		order: 1;
		padding-left: 2px;
	}

	.content-nav {
		order: 2;
	}
	/* .nav-link-logo {
		display: none;
	} */

	/* Copyright */

	#c_copyright h4 {
		font-size: 14px;
		padding: 15px 15px 15px 15px;
	}

}

#mapplic {
	background-color: transparent;
}
.mapplic-map svg {
	background-color: transparent;
}

/* Responsivo */
@media (max-width: 1370px) {
	#c_menu_banner_1_text h2 {
		line-height: 1.2;
	}
	#c_menu_banner_1_text h3 {
		font-size: 17px;
	}
	#c_moove_text {
		padding: 70px 60px 70px 60px;
	}
	#c_moove_text h3 {
		font-size: 18px;
		line-height: 1.5;
	}
	#c_moove_text h3 {
		margin-top: 15px;
		line-height: 1.4;
	}	
	#c_moove_text .c_moove_vagas {
		margin-top: 40px;
		margin-bottom: 15px;
		line-height: 1.2;
	}
}
@media (max-width: 1199px) {
	#c_menu_banner_1 {
		padding-top: 15px;
	}
}

@media (max-width: 1199px) {
	#c_menu_banner_1 {
	background-image: url('assets/images/home/background-mobi.png');
	height: 380px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	min-height: 100vh;
}
}

@media (min-width: 768px) and (max-width: 991px) {
	#c_menu_banner_1 .navbar-expand-md .navbar-nav .nav-link {		
		font-size: 18px;
	}

	.container {
		max-width: 1238px !important;
	}	
}
@media (max-width: 767px) {
	.c_links_uteis_pt2 {
		text-align: left;
	}
	.social-media {
		margin-top: 30px;
	}
	#c_moove_text {
		padding-left: 15px;
		padding-top: 40px;
	}

	#c_moove_text a {
		font-family: 'Work Sans SM';
	}

	#c_links_uteis {
		padding: 30px 15px;
	}
}


@media (width >= 1920px){
	.container {
		max-width: 1650px;
	}
}
